swagger: "2.0"
info:
  description: "A ReSTful API for verifying 'life events' such as births, deaths and marriages."
  version: "0.18.0"
  title: "Life Event Verification (LEV) API"
  contact:
    email: "levapi@digital.homeoffice.gov.uk"
host: "api.lev.homeoffice.gov.uk"
basePath: "/"
schemes:
- "https"
produces:
- "application/json"
externalDocs:
  description: "Find more info here"
  url: "https://docs.api.lev.homeoffice.gov.uk"
securityDefinitions:
  bearerToken:
    type: oauth2
    description: "OAuth2 bearer token obtainable via OpenID-Connect"
    authorizationUrl: "https://sso.digital.homeoffice.gov.uk/auth/realms/lev/protocol/openid-connect/auth"
    tokenUrl: "https://sso.digital.homeoffice.gov.uk/auth/realms/lev/protocol/openid-connect/token"
    flow: accessCode
    scopes:
      audit: "read audit data"
  mockHeaderUsername:
    type: apiKey
    description: "Dummy header representing the username, required only by the mock"
    name: "X-Auth-Username"
    in: header
  mockHeaderClient:
    type: apiKey
    description: "Dummy header representing the client, required only by the mock"
    name: "X-Auth-Aud"
    in: header
security:
- bearerToken: []
responses:
  badRequest:
    description: "Bad request"
    schema:
      $ref: "#/definitions/generalError"
    examples:
      application/json: >
        {"code":"BadRequest","message":"Must provide the dateOfBirth parameter"}
  notFound:
    description: "Resource not found"
    schema:
      $ref: "#/definitions/generalError"
    examples:
      application/json: >
        {"code":"ResourceNotFound","message":"/404 does not exist"}
tags:
- name: "birth"
  description: "Birth records"
- name: "death"
  description: "Death records"
- name: "marriage"
  description: "Marriage records"
- name: "partnership"
  description: "Civil partnership records"
paths:
  /api/v0/events/birth:
    get:
      tags:
      - "birth"
      - "v0"
      summary: "Search for birth records"
      description: "Search for birth records by supplying the date of birth, surname and at least the first forename of the child."
      operationId: "searchBirth"
      parameters:
      - name: "forenames"
        in: "query"
        description: "The child's forenames. The first name must be provided but middlenames are optional."
        required: true
        type: "string"
        x-example: "Joan"
      - name: "lastname"
        in: "query"
        description: "The child's surname."
        required: true
        type: "string"
        x-example: "Smith"
      - name: "dateofbirth"
        in: "query"
        description: "The child's date of birth in international format."
        required: true
        type: "string"
        format: "date"
        x-example: "2008-08-08"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v0-Births"
          examples:
            application/json: >
              [{
                "location": {
                  "name": "Test District, Test Subdistrict, Reading",
                  "administrativeArea": "Reading",
                  "subDistrict": "Test Subdistrict",
                  "nameQualifier": "generated by concatenating registrationDistrict, subDistrict and administrativeArea",
                  "registrationDistrict": "Test District"
                },
                "subjects": {
                  "child": {
                    "originalName": {

                    },
                    "name": {
                      "givenName": "Tester One",
                      "surname": "Multiple",
                      "fullName": "Tester One Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "dateOfBirth": "2010-01-01",
                    "sex": "Male",
                    "birthplace": "Test Address"
                  },
                  "father": {
                    "name": {
                      "givenName": "Dad One",
                      "surname": "Multiple",
                      "fullName": "Dad One Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace"
                  },
                  "mother": {
                    "name": {
                      "givenName": "Mum One",
                      "surname": "Multiple",
                      "fullName": "Mum One Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace",
                    "maidenSurname": "prev-Multiple",
                    "marriageSurname": "prev-M-Multiple"
                  },
                  "informant": {
                    "name": {

                    },
                    "qualification": "Mother",
                    "signature": "Mary Manzarek"
                  }
                },
                "systemNumber": 999999901,
                "id": 999999901,
                "date": "2014-10-10",
                "status": {
                  "potentiallyFictitiousBirth": false,
                  "correction": "None",
                  "cancelled": false,
                  "blockedRegistration": false,
                  "marginalNote": "None",
                  "reRegistered": "None"
                },
                "previousRegistration": {

                }
              }, {
                "location": {
                  "name": "Test District, Test Subdistrict, Reading",
                  "administrativeArea": "Reading",
                  "subDistrict": "Test Subdistrict",
                  "nameQualifier": "generated by concatenating registrationDistrict, subDistrict and administrativeArea",
                  "registrationDistrict": "Test District"
                },
                "subjects": {
                  "child": {
                    "originalName": {

                    },
                    "name": {
                      "givenName": "Tester Two",
                      "surname": "Multiple",
                      "fullName": "Tester Two Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "dateOfBirth": "2010-01-01",
                    "sex": "Male",
                    "birthplace": "Test Address"
                  },
                  "father": {
                    "name": {
                      "givenName": "Dad Two",
                      "surname": "Multiple",
                      "fullName": "Dad Two Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace"
                  },
                  "mother": {
                    "name": {
                      "givenName": "Mum Two",
                      "surname": "Multiple",
                      "fullName": "Mum Two Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace",
                    "maidenSurname": "prev-Multiple",
                    "marriageSurname": "prev-M-Multiple"
                  },
                  "informant": {
                    "name": {

                    },
                    "qualification": "Mother",
                    "signature": "Mary Manzarek"
                  }
                },
                "systemNumber": 999999902,
                "id": 999999902,
                "date": "2014-10-10",
                "status": {
                  "potentiallyFictitiousBirth": false,
                  "correction": "None",
                  "cancelled": false,
                  "blockedRegistration": false,
                  "marginalNote": "None",
                  "reRegistered": "None"
                },
                "previousRegistration": {

                }
              }, {
                "location": {
                  "name": "Test District, Test Subdistrict, Reading",
                  "administrativeArea": "Reading",
                  "subDistrict": "Test Subdistrict",
                  "nameQualifier": "generated by concatenating registrationDistrict, subDistrict and administrativeArea",
                  "registrationDistrict": "Test District"
                },
                "subjects": {
                  "child": {
                    "originalName": {

                    },
                    "name": {
                      "givenName": "Tester Three",
                      "surname": "Multiple",
                      "fullName": "Tester Three Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "dateOfBirth": "2010-01-01",
                    "sex": "Male",
                    "birthplace": "Test Address"
                  },
                  "father": {
                    "name": {
                      "givenName": "Dad Three",
                      "surname": "Multiple",
                      "fullName": "Dad Three Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace"
                  },
                  "mother": {
                    "name": {
                      "givenName": "Mum Three",
                      "surname": "Multiple",
                      "fullName": "Mum Three Multiple",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace",
                    "maidenSurname": "prev-Multiple",
                    "marriageSurname": "prev-M-Multiple"
                  },
                  "informant": {
                    "name": {

                    },
                    "qualification": "Mother",
                    "signature": "Mary Manzarek"
                  }
                },
                "systemNumber": 999999903,
                "id": 999999903,
                "date": "2014-10-10",
                "status": {
                  "potentiallyFictitiousBirth": false,
                  "correction": "None",
                  "cancelled": false,
                  "blockedRegistration": false,
                  "marginalNote": "None",
                  "reRegistered": "None"
                },
                "previousRegistration": {

                }
              }]
  /api/v0/events/birth/{systemNumber}:
    get:
      tags:
      - "birth"
      - "v0"
      summary: "Look up a specific birth record"
      description: "Look up individual birth records using the `systemNumber` printed in the bottom-left of the birth certificate."
      operationId: "readBirth"
      parameters:
      - name: "systemNumber"
        in: "path"
        description: "The system number printed in the bottom-left of the birth certificate"
        required: true
        type: "integer"
        x-example: 123456789
      responses:
        default:
          $ref: "#/responses/badRequest"
        404:
          $ref: "#/responses/notFound"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v0-Birth"
          examples:
            application/json: >
              {
                "location": {
                  "name": "Test District, Test Subdistrict, Reading",
                  "administrativeArea": "Reading",
                  "subDistrict": "Test Subdistrict",
                  "nameQualifier": "generated by concatenating registrationDistrict, subDistrict and administrativeArea",
                  "registrationDistrict": "Test District"
                },
                "subjects": {
                  "child": {
                    "originalName": {
                    },
                    "name": {
                      "givenName": "Tester",
                      "surname": "Solo",
                      "fullName": "Tester Solo",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "dateOfBirth": "2012-02-29",
                    "sex": "Male",
                    "birthplace": "Test Address"
                  },
                  "father": {
                    "name": {
                      "givenName": "Dad",
                      "surname": "Solo",
                      "fullName": "Dad Solo",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace"
                  },
                  "mother": {
                    "name": {
                      "givenName": "Mum",
                      "surname": "Solo",
                      "fullName": "Mum Solo",
                      "qualifier": "generated from prepending forename to surname"
                    },
                    "birthplace": "Test Birthplace",
                    "maidenSurname": "prev-Solo",
                    "marriageSurname": "prev-M-Solo"
                  },
                  "informant": {
                    "name": {
                    },
                    "qualification": "Mother",
                    "signature": "Mary Manzarek"
                  }
                },
                "systemNumber": 999999910,
                "id": 999999910,
                "date": "2014-10-10",
                "status": {
                  "potentiallyFictitiousBirth": false,
                  "correction": "None",
                  "cancelled": false,
                  "blockedRegistration": false,
                  "marginalNote": "None",
                  "reRegistered": "None"
                },
                "previousRegistration": {
                }
              }
  /v1/registration/birth:
    get:
      tags:
      - "birth"
      - "v1"
      - "unstable"
      summary: "Search for birth records"
      description: "Search for birth records by supplying the date of birth, surname and at least the first forename of the child. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "searchV1Birth"
      parameters:
      - name: "forenames"
        in: "query"
        description: "The child's forenames. The first name must be provided but middlenames are optional."
        required: true
        type: "string"
        x-example: "Joan"
      - name: "surname"
        in: "query"
        description: "The child's surname."
        required: true
        type: "string"
        x-example: "Smith"
      - name: "dateOfBirth"
        in: "query"
        description: "The child's date of birth in international format."
        required: true
        type: "string"
        format: "date"
        x-example: "2008-08-08"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Births"
  /v1/registration/birth/{id}:
    get:
      tags:
      - "birth"
      - "v1"
      - "unstable"
      summary: "Look up a specific birth record"
      description: "Look up individual birth records using the `systemNumber` printed in the bottom-left of the birth certificate. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "readV1Birth"
      parameters:
      - name: "id"
        in: "path"
        description: "The system number printed in the bottom-left of the birth certificate"
        required: true
        type: "integer"
        x-example: 123456789
      responses:
        default:
          $ref: "#/responses/badRequest"
        404:
          $ref: "#/responses/notFound"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Birth"
  /v1/registration/death:
    get:
      tags:
      - "death"
      - "v1"
      - "unstable"
      summary: "Search for death records"
      description: "Search for death records by supplying the surname, at least the first forename and either the date of birth or the date of death of the deceased. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "searchV1Death"
      parameters:
      - name: "forenames"
        in: "query"
        description: "The deceased's forenames. The first name must be provided but middlenames are optional."
        required: true
        type: "string"
        x-example: "Joan"
      - name: "surname"
        in: "query"
        description: "The deceased's surname."
        required: true
        type: "string"
        x-example: "Smith"
      - name: "date"
        in: "query"
        description: "The deceased's date of birth or death in international format."
        required: true
        type: "string"
        format: "date"
        x-example: "2008-08-08"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Deaths"
  /v1/registration/death/{id}:
    get:
      tags:
      - "death"
      - "v1"
      - "unstable"
      summary: "Look up a specific death record"
      description: "Look up individual death records using the `systemNumber` printed in the bottom-left of the death certificate. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "readV1Death"
      parameters:
      - name: "id"
        in: "path"
        description: "The system number printed in the bottom-left of the death certificate"
        required: true
        type: "integer"
        x-example: 123456789
      responses:
        default:
          $ref: "#/responses/badRequest"
        404:
          $ref: "#/responses/notFound"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Death"
  /v1/registration/marriage:
    get:
      tags:
      - "marriage"
      - "v1"
      - "unstable"
      summary: "Search for marriage records"
      description: "Search for marriage records by supplying the date of marriage as well as the surname and at least the first forename of one of the partners. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "searchV1Marriage"
      parameters:
      - name: "forenames"
        in: "query"
        description: "The person's forenames. The first name must be provided but middlenames are optional."
        required: true
        type: "string"
        x-example: "Joan"
      - name: "surname"
        in: "query"
        description: "The person's surname."
        required: true
        type: "string"
        x-example: "Smith"
      - name: "dateOfMarriage"
        in: "query"
        description: "The date of the marriage in international format."
        required: true
        type: "string"
        format: "date"
        x-example: "2008-08-08"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Marriages"
  /v1/registration/marriage/{id}:
    get:
      tags:
      - "marriage"
      - "v1"
      - "unstable"
      summary: "Look up a specific marriage record"
      description: "Look up individual marriage records using the `systemNumber` printed in the bottom-left of the marriage certificate. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "readV1Marriage"
      parameters:
      - name: "id"
        in: "path"
        description: "The system number printed in the bottom-left of the marriage certificate"
        required: true
        type: "integer"
        x-example: 123456789
      responses:
        default:
          $ref: "#/responses/badRequest"
        404:
          $ref: "#/responses/notFound"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Marriage"
  /v1/registration/partnership:
    get:
      tags:
      - "partnership"
      - "v1"
      - "unstable"
      summary: "Search for civil partnership records"
      description: "Search for civil partnership records by supplying the date of the civil partnership as well as the surname and at least the first forename of one of the partners. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "searchV1Partnership"
      parameters:
      - name: "forenames"
        in: "query"
        description: "The person's forenames. The first name must be provided but middlenames are optional."
        required: true
        type: "string"
        x-example: "Joan"
      - name: "surname"
        in: "query"
        description: "The person's surname."
        required: true
        type: "string"
        x-example: "Smith"
      - name: "dateOfPartnership"
        in: "query"
        description: "The date of the civil partnership in international format."
        required: true
        type: "string"
        format: "date"
        x-example: "2008-08-08"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Partnerships"
  /v1/registration/partnership/{id}:
    get:
      tags:
      - "partnership"
      - "v1"
      - "unstable"
      summary: "Look up a specific civil partnership record"
      description: "Look up individual civil partnership records using the `systemNumber` printed in the bottom-left of the civil partnership certificate. (UNSTABLE: This endpoint is subject to change.)"
      operationId: "readV1Partnership"
      parameters:
      - name: "id"
        in: "path"
        description: "The system number printed in the bottom-left of the civil partnership certificate"
        required: true
        type: "integer"
        x-example: 123456789
      responses:
        default:
          $ref: "#/responses/badRequest"
        404:
          $ref: "#/responses/notFound"
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/v1-Partnership"
  /api/v0/audit/user-activity:
    get:
      summary: "Query user activity"
      description: ""
      operationId: "searchActivity"
      parameters:
      - name: "from"
        in: "query"
        description: "The beginning of the timespan to search"
        required: false
        type: "string"
        format: "date"
        x-example: "2017-01-01"
      - name: "to"
        in: "query"
        description: "The end of the timespan to search"
        required: false
        type: "string"
        format: "date"
        x-example: "2017-12-31"
      responses:
        default:
          $ref: "#/responses/badRequest"
        200:
          description: "successful operation"
          schema:
            type: object
          examples:
            application/json: >
              {
                "test": {
                  "2017-01-01": 2
                }
              }
      security:
      - bearerToken:
        - "audit"
definitions:
  generalError:
    type: object
    title: "Error"
    description: "An error"
    required:
      - code
      - message
    properties:
      code:
        type: string
        example: "BadRequest"
        title: "Code"
        description: "The type of error"
      message:
        type: string
        example: "Must provide the dateOfBirth parameter"
        title: "Message"
        description: "The error message"
  v0-Birth:
    type: object
    title: "Birth record (v0)"
    description: "A record of a birth (Note: You will only receive the fields you are authorized to view, regardless of whether we hold them on file)"
    required:
      - id
      - location
      - previousRegistration
      - status
      - subjects
    properties:
      date:
        type: string
        format: date
        example: '2011-08-09'
        title: "Date"
        description: Date of the event
      location:
        title: "Location"
        description: Location that the event happened at
        properties:
          name:
            type: string
            example: 'Manchester, Manchester, Metropolitan District of Manchester'
            title: "Name"
            description: Name
          nameQualifier:
            type: string
            example: 'generated by concatenating registrationDistrict, subDistrict and administrativeArea'
            title: "Name qualifier"
            description: Name qualifier
          registrationDistrict:
            type: string
            example: Manchester
            title: "Registration district"
            description: Registration district
          subDistrict:
            type: string
            example: Manchester
            title: "Sub-district"
            description: Sub-district
          administrativeArea:
            type: string
            example: Metropolitan District of Manchester
            title: "Administrative area"
            description: Administrative area
      registrarSignature:
        type: string
        example: J. Smith
        title: "Registrar signature"
        description: Signature of registrar
      type:
        type: string
        example: birth
        title: "Type"
        description: Type of the event
      id:
        type: integer
        format: int32
        title: "ID"
        description: Unique ID for this event
      subjects:
        title: "Subjects"
        description: 'People involved, may have keys parent1,parent2,child'
        properties:
          child:
            title: "Child"
            description: Child
            properties:
              name:
                title: "Name"
                description: Name of the person
                properties:
                  givenName:
                    type: string
                    example: Joan Narcissus Ouroboros
                    title: "Given name"
                    description: Given name of the person
                  surname:
                    type: string
                    example: Smith
                    title: "Surname"
                    description: Surname of the person
                  fullName:
                    type: string
                    example: Joan Narcissus Ouroboros Smith
                    title: "Full name"
                    description: Full name of the person
                  qualifier:
                    type: string
                    example: generated from prepending forename to surname
                    title: "Qualifier"
                    description: Details about how the full name was made
              birthplace:
                type: string
                example: Kensington
                title: "Birthplace"
                description: The birthplace of the person
              dateOfBirth:
                type: string
                format: date
                example: '2011-08-08'
                title: "Date of birth"
                description: Date of birth of the person
              sex:
                type: string
                example: Indeterminate
                title: "Sex"
                description: Sex of the person
                enum:
                  - Male
                  - Female
                  - Indeterminate
              originalName:
                title: "Original name"
                description: The name originally given to the person
                properties:
                  givenName:
                    type: string
                    example: Joan Narcissus Ouroboros
                    title: "Given name"
                    description: Given name of the person
                  surname:
                    type: string
                    example: Smith
                    title: "Surname"
                    description: Surname of the person
                  fullName:
                    type: string
                    example: Joan Narcissus Ouroboros Smith
                    title: "Full name"
                    description: Full name of the person
                  qualifier:
                    type: string
                    example: generated from prepending forename to surname
                    title: "Qualifier"
                    description: Details about how the full name was made
          father:
            title: "Father"
            description: Father
            properties:
              name:
                title: "Name"
                description: Name of the person
                properties:
                  givenName:
                    type: string
                    example: Joan Narcissus Ouroboros
                    title: "Given name"
                    description: Given name of the person
                  surname:
                    type: string
                    example: Smith
                    title: "Surname"
                    description: Surname of the person
                  fullName:
                    type: string
                    example: Joan Narcissus Ouroboros Smith
                    title: "Full name"
                    description: Full name of the person
                  qualifier:
                    type: string
                    example: generated from prepending forename to surname
                    title: "Qualifier"
                    description: Details about how the full name was made
              birthplace:
                type: string
                example: Kensington
                title: "Birthplace"
                description: The birthplace of the person
              occupation:
                type: string
                example: Carpenter
                title: "Occupation"
                description: The occupation of the parent
          mother:
            title: "Mother"
            description: Mother
            properties:
              name:
                title: "Name"
                description: Name of the person
                properties:
                  givenName:
                    type: string
                    example: Joan Narcissus Ouroboros
                    title: "Given name"
                    description: Given name of the person
                  surname:
                    type: string
                    example: Smith
                    title: "Surname"
                    description: Surname of the person
                  fullName:
                    type: string
                    example: Joan Narcissus Ouroboros Smith
                    title: "Full name"
                    description: Full name of the person
                  qualifier:
                    type: string
                    example: generated from prepending forename to surname
                    title: "Qualifier"
                    description: Details about how the full name was made
              birthplace:
                type: string
                example: Kensington
                title: "Birthplace"
                description: The birthplace of the person
              occupation:
                type: string
                example: Carpenter
                title: "Occupation"
                description: The occupation of the parent
              maidenSurname:
                type: string
                example: Black
                title: "Maiden surname"
                description: Maiden surname
              marriageSurname:
                type: string
                example: White
                title: "Marriage surname"
                description: Surname at marriage if different from maiden surname
              usualAddress:
                type: string
                example: '34 Matriarchs Place, Mumstown, Mumford'
                title: "Usual address"
                description: "Usual address (if different from the place of child's birth)"
          informant:
            title: "Informant"
            description: Informant
            properties:
              name:
                title: "Name"
                description: Name of the person
                properties:
                  givenName:
                    type: string
                    example: Joan Narcissus Ouroboros
                    title: "Given name"
                    description: Given name of the person
                  surname:
                    type: string
                    example: Smith
                    title: "Surname"
                    description: Surname of the person
                  fullName:
                    type: string
                    example: Joan Narcissus Ouroboros Smith
                    title: "Full name"
                    description: Full name of the person
                  qualifier:
                    type: string
                    example: generated from prepending forename to surname
                    title: "Qualifier"
                    description: Details about how the full name was made
              usualAddress:
                type: string
                example: '34 Matriarchs Place, Mumstown, Mumford'
                title: "Usual address"
                description: 'The usual address of the person, if different from the mother''s'
              qualification:
                type: string
                example: Mother
                title: "Qualification"
                description: The qualification of the informant
              signature:
                type: string
                example: J. Smith
                title: "Signature"
                description: The signature of the informant
      systemNumber:
        type: integer
        format: int32
        title: "System number"
        description: System number for this event
      status:
        title: "Status"
        description: Status flags associated with this birth
        properties:
          blockedRegistration:
            type: boolean
            title: "Blocked registration"
            description: Indicates if data for this record has been blocked
          cancelled:
            type: boolean
            title: "Cancelled"
            description: Indicates if record was cancelled
          potentiallyFictitiousBirth:
            type: boolean
            title: "Potentially fictitious birth"
            description: Indicates if a birth may be fictitious
          reRegistered:
            type: string
            title: "Re-registered"
            description: Describes if this is a re-registration and why it was needed
            enum:
              - None
              - Father modified
              - Father added
              - Replacement registration
              - Other
              - Subsequently married
          correction:
            type: string
            title: "Correction"
            description: Indicates if there has been a correction to this record
            enum:
              - Typographical
              - Simple clerical
              - Complex clerical
              - Error of fact
              - None
          marginalNote:
            type: string
            title: "Marginal note"
            description: Gives additional notes on a record
            enum:
              - Re-registered
              - Court order in place
              - Court order revoked
              - Other
              - None
        required:
          - blockedRegistration
      previousRegistration:
        title: "Previous registration"
        description: 'Details of the previous record, where one exists'
        properties:
          date:
            type: string
            format: date
            example: '2011-08-09'
            title: "Date"
            description: Date of the event
          systemNumber:
            type: integer
            format: int32
            title: "System number"
            description: System number for this event
  v1-Birth:
    type: object
    title: "Birth record (v1)"
    description: "A record of a birth (Note: You will only receive the fields you are authorized to view, regardless of whether we hold them on file)"
    required:
      - id
      - date
      - child
      - mother
      - father
      - status
    properties:
      id:
        type: integer
        format: int32
        title: "ID"
        description: System number for this event
      date:
        type: string
        format: date
        example: '2011-08-09'
        title: "Date"
        description: Date the birth was registered
      child:
        title: "Child"
        description: The child that was born
        required:
          - forenames
          - surname
          - dateOfBirth
          - sex
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the child
          originalForenames:
            type: string
            example: John Narcissus Ouroboros
            title: "forenames"
            description: The forenames originally given to the child before they were changed
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the child
          dateOfBirth:
            type: string
            format: date
            example: '2011-08-08'
            title: "Date of birth"
            description: Date of birth of the child
          sex:
            type: string
            example: Indeterminate
            title: "Sex"
            description: Sex of the child
            enum:
              - Male
              - Female
              - Indeterminate
          birthplace:
            type: string
            example: Kensington
            title: "Birthplace"
            description: The birthplace of the child
      mother:
        title: "Mother"
        description: The mother of the child that was born
        required:
          - forenames
          - surname
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the mother
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the mother
          maidenSurname:
            type: string
            example: BLACK
            title: "Maiden surname"
            description: Maiden name of the mother
          marriageSurname:
            type: string
            example: WHITE
            title: "Marriage surname"
            description: Surname of the mother at marriage (if different from her maiden name)
          birthplace:
            type: string
            example: Kensington
            title: "Birthplace"
            description: The birthplace of the mother
          occupation:
            type: string
            example: Carpenter
            title: "Occupation"
            description: The occupation of the mother
          address:
            type: string
            example: '34 Matriarchs Place, Mumstown, Mumford'
            title: "Address"
            description: "The mother's usual address (if different from the place of child's birth)"
      father:
        title: "Father"
        description: The father of the child that was born
        required:
          - deceased
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the father
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the father
          birthplace:
            type: string
            example: Kensington
            title: "Birthplace"
            description: The birthplace of the father
          occupation:
            type: string
            example: Carpenter
            title: "Occupation"
            description: The occupation of the father
          deceased:
            type: boolean
            example: false
            title: "Deceased"
            description: Whether the father was deceased at the point of birth
      status:
        title: "Status"
        description: Status flags associated with this record
        required:
          - blocked
        properties:
          blocked:
            type: boolean
            title: "Blocked registration"
            description: Indicates if data for this record has been blocked
          cancelled:
            type: boolean
            title: "Cancelled"
            description: Indicates if record was cancelled
          correction:
            type: string
            title: "Correction"
            description: Indicates if there has been a correction to this record
            enum:
              - Typographical
              - Simple clerical
              - Complex clerical
              - Error of fact
              - None
          marginalNote:
            type: string
            title: "Marginal note"
            description: Gives additional notes on a record
            enum:
              - Re-registered
              - Court order in place
              - Court order revoked
              - Other
              - None
          potentiallyFictitiousBirth:
            type: boolean
            title: "Potentially fictitious birth"
            description: Indicates if a birth may be fictitious
          reregistration:
            type: string
            title: "Reregistration"
            description: Describes if this is a reregistration and why it was needed
            enum:
              - None
              - Father modified
              - Father added
              - Replacement registration
              - Other
              - Subsequently married
  v1-Death:
    type: object
    title: "Death record (v1)"
    description: "A record of a death (Note: You will only receive the fields you are authorized to view, regardless of whether we hold them on file)"
    required:
      - id
      - date
      - deceased
      - status
    properties:
      id:
        type: integer
        format: int32
        title: "ID"
        description: System number for this event
      date:
        type: string
        format: date
        example: '2011-08-09'
        title: "Date"
        description: Date the death was registered
      deceased:
        title: "Deceased"
        description: The person that died
        required:
          - forenames
          - surname
          - dateOfDeath
          - sex
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the deceased
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the deceased
          dateOfBirth:
            type: string
            format: date
            example: '2011-08-08'
            title: "Date of birth"
            description: Date the deceased was born
          dateOfDeath:
            type: string
            format: date
            example: '2011-08-08'
            title: "Date of death"
            description: Date the person died
          sex:
            type: string
            example: Indeterminate
            title: "Sex"
            description: Sex of the deceased
            enum:
              - Male
              - Female
              - Indeterminate
          birthplace:
            type: string
            example: Kensington
            title: "Birthplace"
            description: The birthplace of the deceased
          deathplace:
            type: string
            example: Kensington
            title: "Deathplace"
            description: The place the person died
          occupation:
            type: string
            example: Unemployed
            title: "Occupation"
            description: The occupation of the deceased
          address:
            type: string
            example: '888 Death House, 8 Death lane, Deadington, Deadshire'
            title: "Address"
            description: "The deceased's address"
          retired:
            type: boolean
            example: true
            title: "Retired"
            description: Whether the deceased was retired
          maidenSurname:
            type: string
            example: BLACK
            title: "Maiden surname"
            description: Maiden name of the deceased
      status:
        title: "Status"
        description: Status flags associated with this record
        required:
          - blocked
        properties:
          blocked:
            type: boolean
            title: "Blocked registration"
            description: Indicates if data for this record has been blocked
  v1-Marriage:
    type: object
    title: "Marriage record (v1)"
    description: "A record of a marriage (Note: You will only receive the fields you are authorized to view, regardless of whether we hold them on file)"
    required:
      - id
      - dateOfMarriage
      - bride
      - groom
      - status
    properties:
      id:
        type: integer
        format: int32
        title: "ID"
        description: System number for this event
      dateOfMarriage:
        type: string
        format: date
        example: '2008-08-08'
        title: "Date of marriage"
        description: Date of the marriage
      groom:
        title: "Groom"
        description: The groom (or first partner)
        required:
          - forenames
          - surname
          - condition
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the person
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the person
          age:
            type: integer
            format: int32
            title: "Age"
            description: Age of the person when they got married
          occupation:
            type: string
            example: Unemployed
            title: "Occupation"
            description: The occupation of the person
          retired:
            type: boolean
            example: false
            title: "Retired"
            description: Whether the person was retired
          address:
            type: string
            example: '888 Groom House, 8 Groom grove, Wedford, Wedfordshire, GR0 0M'
            title: "Address"
            description: "The person's address"
          condition:
            type: string
            example: 'Single'
            title: "Condition"
            description: Whether the person was single, divorced, widowed etc.
          signature:
            type: string
            example: 'J.N.O. Smith'
            title: "Signature"
            description: "A digital representation of the person's signature"
      bride:
        title: "Bride"
        description: The bride (or second partner)
        required:
          - forenames
          - surname
          - condition
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the person
          surname:
            type: string
            example: BLACK
            title: "Surname"
            description: Surname of the person
          age:
            type: integer
            format: int32
            title: "Age"
            description: Age of the person when they got married
          occupation:
            type: string
            example: Unemployed
            title: "Occupation"
            description: The occupation of the person
          retired:
            type: boolean
            example: false
            title: "Retired"
            description: Whether the person was retired
          address:
            type: string
            example: '888 Bride House, 8 Bride grove, Wedford, Wedfordshire, BR1 2E'
            title: "Address"
            description: "The person's address"
          condition:
            type: string
            example: 'Single'
            title: "Condition"
            description: Whether the person was single, divorced, widowed etc.
          signature:
            type: string
            example: 'J.N.O. Black'
            title: "Signature"
            description: "A digital representation of the person's signature"
      status:
        title: "Status"
        description: Status flags associated with this record
        required:
          - blocked
        properties:
          blocked:
            type: boolean
            title: "Blocked registration"
            description: Indicates if data for this record has been blocked
  v1-Partnership:
    type: object
    title: "Civil partnership record (v1)"
    description: "A record of a civil partnership (Note: You will only receive the fields you are authorized to view, regardless of whether we hold them on file)"
    required:
      - id
      - dateOfPartnership
      - partner1
      - partner2
      - status
    properties:
      id:
        type: integer
        format: int32
        title: "ID"
        description: System number for this event
      dateOfPartnership:
        type: string
        format: date
        example: '2008-08-08'
        title: "Date of civil partnership"
        description: Date of the civil partnership
      partner1:
        title: "First partner"
        description: The first partner
        required:
          - forenames
          - surname
          - condition
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the person
          surname:
            type: string
            example: SMITH
            title: "Surname"
            description: Surname of the person
          dateOfBirth:
            type: string
            format: date
            example: '2011-08-08'
            title: "Date of birth"
            description: Date the person was born
          sex:
            type: string
            example: Indeterminate
            title: "Sex"
            description: Sex of the person
            enum:
              - Male
              - Female
              - Indeterminate
          occupation:
            type: string
            example: Unemployed
            title: "Occupation"
            description: The occupation of the person
          retired:
            type: boolean
            example: false
            title: "Retired"
            description: Whether the person was retired
          address:
            type: string
            example: '888 Groom House, 8 Groom grove, Wedford, Wedfordshire, GR0 0M'
            title: "Address"
            description: "The person's address"
          condition:
            type: string
            example: 'Single'
            title: "Condition"
            description: Whether the person was single, divorced, widowed etc.
          signature:
            type: string
            example: 'J.N.O. Smith'
            title: "Signature"
            description: "A digital representation of the person's signature"
      partner2:
        title: "Second partner"
        description: The second partner
        required:
          - forenames
          - surname
          - condition
        properties:
          forenames:
            type: string
            example: Joan Narcissus Ouroboros
            title: "forenames"
            description: Forenames of the person
          surname:
            type: string
            example: BLACK
            title: "Surname"
            description: Surname of the person
          dateOfBirth:
            type: string
            format: date
            example: '2011-08-08'
            title: "Date of birth"
            description: Date the person was born
          sex:
            type: string
            example: Indeterminate
            title: "Sex"
            description: Sex of the person
            enum:
              - Male
              - Female
              - Indeterminate
          occupation:
            type: string
            example: Unemployed
            title: "Occupation"
            description: The occupation of the person
          retired:
            type: boolean
            example: false
            title: "Retired"
            description: Whether the person was retired
          address:
            type: string
            example: '888 Bride House, 8 Bride grove, Wedford, Wedfordshire, BR1 2E'
            title: "Address"
            description: "The person's address"
          condition:
            type: string
            example: 'Single'
            title: "Condition"
            description: Whether the person was single, divorced, widowed etc.
          signature:
            type: string
            example: 'J.N.O. Black'
            title: "Signature"
            description: "A digital representation of the person's signature"
      status:
        title: "Status"
        description: Status flags associated with this record
        required:
          - blocked
        properties:
          blocked:
            type: boolean
            title: "Blocked registration"
            description: Indicates if data for this record has been blocked
  v0-Births:
    type: "array"
    title: "List of (v0) birth records"
    items:
      $ref: "#/definitions/v0-Birth"
  v1-Births:
    type: "array"
    title: "List of (v1) birth records"
    items:
      $ref: "#/definitions/v1-Birth"
  v1-Deaths:
    type: "array"
    title: "List of (v1) death records"
    items:
      $ref: "#/definitions/v1-Death"
  v1-Marriages:
    type: "array"
    title: "List of (v1) marriage records"
    items:
      $ref: "#/definitions/v1-Marriage"
  v1-Partnerships:
    type: "array"
    title: "List of (v1) civil partnership records"
    items:
      $ref: "#/definitions/v1-Partnership"