kramdown:
  toc_levels: 1..2

collections:
  projects: 
    output: false
  projectlibs: 
    output: false   
  slides:
    output: true 

defaults:
  - scope:
      path: ""
      type: "slides"
    values:
      layout: "slide"

# Build settings
theme: just-the-docs


webpack:
  debounce:
    run_once: true
  cleanup_files:
    - node_modules

back_to_top: true
back_to_top_text: "Back to top"

color_scheme: ce

# Footer last edited timestamp
last_edit_timestamp: true # show or hide edit time - page must have `last_modified_date` defined in the frontmatter
last_edit_time_format: "%b %e %Y at %I:%M %p" # uses ruby's time format: https://ruby-doc.org/stdlib-2.7.0/libdoc/time/rdoc/Time.html

# Do not change the below
source_published_url: "https://ce.nhsei.xyz"
source_gh_action_build_file_name: "azure-static-web-apps-zealous-beach-05e189903.yml"
source_gh_edit_link: true # show or hide edit this page link
source_gh_edit_link_text: "Edit this page on GitHub"
source_gh_edit_repository: "https://github.com/nhsexperience/nhs-experience" # the github URL for your repo
source_gh_edit_branch: "main" # the branch that your docs is served from
source_gh_edit_source: docs # the source that your files originate from
source_gh_edit_view_mode: "tree" # "tree" or "edit" if you want the user to jump into the editor immediately
source_gh_repo_owner: "NHS Experience"

include:
  - _slides/
  - _slidescontent/

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - src/